<!DOCTYPE html>
<html>
<head>
<title>Todo App</title>
<link rel="stylesheet" href="/static/stylesheets/styling.css" type="text/css">
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>
  <div align="center" class="recipes-container">
    <br>
    <p id="header">My Recipes</p>
    <br>
    <br>
    <div class="recipe">
    <form action="/" method="POST" class="recipe-header">
    <input id="input" type="text" name="content" placeholder="Add a recipe......">
    <button type="submit"><span class="fas fa-plus"></span></button>
    </form>
    </div>
    <br>
    <br>
    <ul class="recipe-list">
      <% recipesToAdd.forEach(details => { %>
      <li class="recipe-list-item">
      <div class="recipe-list-item-name"><%= details.content %></div>
      <a href="/edit/<%= details._id %>" class="edit">
        <span class="fas fa-edit"></span>
        </a>
        <a href="/remove/<%= details._id %>" class="remove">
        <span class="fas fa-times"></span>
        </a>
        </li>
      <% }) %>
    </ul>
  </div>       
</body>
</html>