@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
  background: #ecc7e5;
  font-family: Dancing Script;
  color: black;
}

#header {
  font-size: 40px;
  border: solid white 4px;
  width: 320px;
  text-align: center;
}

#input {
  width: 350px;
  font-size: 18px;
  text-align: center;
}

#back {
  font-size: 20px;
  color: rgb(236, 44, 211);
}

.recipe-container {
  color: rgb(83, 81, 81);
  position: absolute;
  top:50%;
  left: 50%;
  padding: 20px;
  width: 600px;
  transform: translate(-50%,-50%);
  background: rgba(231, 159, 219, 0.1);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe {
  width: 420px;
}
  
.recipe-container h2 {
  padding: 10px;
  font-family: 'Dancing Script', sans-serif;
  font-size: 2em;
}
  
.recipe-header input {
  width: 92%;
  border: 3px;
  border-radius: 5px;
  height: 20px;
  font-family: 'Dancing Script', sans-serif;
}
   
.recipe-header button {
  color: white;
  border: none;
  width: 25px;
  border-radius: 50%;
  cursor: pointer;
  padding: 5px;
  font-family: 'Dancing Script', sans-serif;
  background-color: rgb(230, 150, 206);
}
    
.recipe-container ul {
  list-style: none;
}

.recipe-list-item {
  padding: 10px;
  margin-top: 10px;
  border: 5px;
  border-radius: 5px;
  font-family: 'Dancing Script', sans-serif;
  font-size: 16px;
  background: rgba(235, 194, 233, 0.3);
  display: flex;
  flex-direction: row;
}
    
.recipe-list-item form {
  width: 100%;
  display: flex;
}

.recipe-list-item input {
  flex-grow: 2;
  margin-right: 20px;
  border: none;
  border-radius: 5px;
  font-family: 'Dancing Script', sans-serif;
}

    
.recipe-list-item button {
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
  font-family: 'Dancing Script', sans-serif;
  background-color: rgb(221, 141, 241);
}

.recipe-list-item .cancel {
  color: rgb(236, 129, 218);
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
  font-family: 'Dancing Script', sans-serif;
  background-color: rgb(243, 217, 239);
  margin-left: 5px;
}

    
.recipe-list-item div {
  flex-grow: 2;
}

    
.recipe-list-item .edit {
  color : rgb(233, 25, 233);
  margin-right: 10px;
  cursor:pointer;
  text-decoration: none;
}

    
.recipe-list-item .remove {
  color : rgb(104, 101, 104);
  margin-right: 5px;
  cursor:pointer;
  text-decoration: none;
}


